body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url(img/weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}  

main{
    display: grid;
    grid-template-rows: auto auto;   
    min-width: 400px;
    max-width: 600px;
    margin: 2%;
}
main > input {
    text-align: center;
    border: 0px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;  
}
main > button{
    background-color: black;
    color: white;
    border: 0px;
}
.boven{
    background-color: aquamarine;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.onder{
    background-color: antiquewhite;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}